.Noms {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
    font-size: 1.5em;
}

.Fonct {
    font-weight: 200;
    text-align: center;
    font-size: 1.3em;
}

.goback{
    position: absolute;
    width: 12em;
    margin: 25px;
}
/* .Wow {
    background-image: url('../../assets/igprj/2.jpg');
    background-position: center;
    backdrop-filter: blur(5px); 
} */